<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Inicio</a></li>
            <li class="breadcrumb-item" [routerLink]="['/camisas']" routerLinkActive="active">Camisas</li>
        </ol>
    </nav>
    <div class="contador">
        <p> total produtos {{roupas.length}} </p>
    </div>
</div>
<div class="container justify-content-arond">
    <div class="card cardSpace" *ngFor="let roupa of roupas">
        <img [src]="roupa.img" alt="imagem Produto">
        <h4> {{roupa.produto}} </h4>
    </div>
</div>